.form {
  margin: 0 auto;
  max-width: 320px;
  button {
    background-image: linear-gradient(to left, #fff, #f2f2f2);
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    width: 63px;
    height: 34px;
    &:hover {
      border-color: #bdbdbd;
    }
  }
}

.word-input {
  background: #fff;
  border-radius: 4px;
  padding: 12px 8px 12px 18px;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 0 5px rgba(16, 14, 23, 0.25);
  &.noshadow {
    box-shadow: none;
  }
}

.form input {
  border: 0;
  font-family: 24px;
  font-size: 16px;
  width: 210px;
  margin-right: 5px;
  &:focus {
    outline: none;
  }
}
